<!DOCTYPE html>

<html>

<head>

    <link rel="stylesheet" href="draft.component.css">

</head>

<body>


    <header>
        <table>
            <tr>
                <span class="logoSpan">
                    <th>
                        <h1>
                            <img src="../assets/images/icons/koala-silhouette.png" title="Logo koala" alt="Logo koala" class="logo" onclick="window.location.href='../home/home.component.html';">
                        </h1>
                    </th>
                </span>
                <span class="headerTabs">
                    <th>
                        <button>
                            About Governmint
                        </button>
                    </th>
                    <th>
                        <button>
                            Notifications
                        </button>
                    </th>
                    <th>

                        <button>
                            Profile
                        </button>
                    </th>
                    <th>
                        <button>
                            Drafts
                        </button>
                    </th>
                </span>
            </tr>
        </table>
    </header>

    <article>
        <section>

            <table>
                <tr>
                    <th>
                        <h2 id="title">
                            A random title
                        </h2>
                    </th>
                    <th>
                        <h3>
                            <button>
                                Trending
                            </button>
                        </h3>
                    </th>
                    <th>
                        <h3>
                            <button>
                                New
                            </button>
                        </h3>
                    </th>
                    <th>
                        <h3>
                            <button>
                                Top
                            </button>
                        </h3>
                    </th>
                    <th>
                        <button id="update">
                            Update
                        </button>
                    </th>
                </tr>
            </table>

            <div id="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in volupvotetate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupvoteidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            
            <p></p>

            <table>
                <tr>
                    <th>
                        <img src="../assets/images/icons/iconfinder_arrow-up-01.png" title="Upvote" alt="Upvote" class="up">
                    </th>
                    <th>
                        5253
                    </th>
                </tr>
                <tr>
                    <th>

                    </th>
                    <th>
                        User : 17HaUanics7Uvopm6cTkq7Wh8o2wdUXBt
                    </th>
                </tr>
            </table>

            <table>
                <tr>
                    <th>
                        <img src="../assets/images/icons/iconfinder_arrow-up-01.png" title="Upvote" alt="Upvote" class="up">
                    </th>
                    <th>
                        672
                    </th>
                </tr>
                <tr>
                    <th>

                    </th>
                    <th>
                        User : 1Fajqr2VGSft3xkaCuWuy9p81PBBGXiWxK
                    </th>
                </tr>
            </table>

            <table>
                <tr>
                    <th>
                        <img src="../assets/images/icons/iconfinder_arrow-up-01.png" title="Upvote" alt="Upvote" class="up">
                    </th>
                    <th>
                        1756
                    </th>
                </tr>
                <tr>
                    <th>

                    </th>
                    <th>
                        User : 1C5RpMLk8LVpk4MYgPfRx8VL1kLecHWfu2
                    </th>
                </tr>
            </table>

            <table>
                <tr>
                    <th>
                        <img src="../assets/images/icons/iconfinder_arrow-up-01.png" title="Upvote" alt="Upvote" class="up">
                    </th>
                    <th>
                        7367
                    </th>
                </tr>
                <tr>
                    <th>

                    </th>
                    <th>
                        User : 1B3mPTwAQdq1E66eUtgzdyo5TGsgb1pLbz
                    </th>
                </tr>
            </table>

        </section>

        <div>
            <p>
                Vote here
            </p>
            <table>
                <tr>
                    <th>
                        <button id="yes">
                            Yes
                        </button>
                    </th>
                    <th>
                        <button id="no">
                            No
                        </button>
                    </th>
                    <th>
                        <button id="neutral">
                            Neutral
                        </button>
                    </th>
                    <th id="missing">
                        Didn't vote
                    </th>
                </tr>
            </table>
        </div>

    </article>

    <script src="../ajax.js"></script>
    <script src="draft.component.js"></script>

</body>

</html>
