<link rel="stylesheet" href="home.component.css">

<header>
    <table>
        <tr>
            <span class="logoSpan">
                <th>
                    <h1>
                        <img src="../../assets/images/icons/logo.png" title="Logo cosmos" alt="Logo cosmos" class="logo">
                    </h1>
                </th>
            </span>
            <span class="headerTabs">
                <th>
                    <span>
                        About Governmint
                    </span>
                </th>
                <th>
                    <span>
                        Notifications
                    </span>
                </th>
                <th>

                    <span>
                        Profile
                    </span>
                </th>
                <th>
                    <span>
                        Drafts
                    </span>
                </th>
            </span>
        </tr>
    </table>
</header>

<article>
    <section>
        <h2>
            Discussions
        </h2>

        <table>
            <tr>
                <th>
                    <h3>
                        General
                    </h3>
                </th>
                <th>
                    <img src="../../assets/images/icons/iconfinder_speech_bubble.png" title="Bubble" alt="Bubble">
                </th>
            </tr>
            <tr>
                <th>
                    <span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </span>
                </th>
                <th>
                    5110
                </th>
            </tr>
        </table>

        <table>
            <tr>
                <th>
                    <h3>
                        Economics
                    </h3>
                </th>
                <th>
                    <img src="../../assets/images/icons/iconfinder_speech_bubble.png" title="Bubble" alt="Bubble">
                </th>
            </tr>
            <tr>
                <th>
                    <span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </span>
                </th>
                <th>
                    2233
                </th>
            </tr>
        </table>

        <table>
            <tr>
                <th>
                    <h3>
                        Feedback
                    </h3>
                </th>
                <th>
                    <img src="../../assets/images/icons/iconfinder_speech_bubble.png" title="Bubble" alt="Bubble">
                </th>
            </tr>
            <tr>
                <th>
                    <span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </span>
                </th>
                <th>
                    9201
                </th>
            </tr>
        </table>
    </section>

    <section>
        <h2>
            Language-specific
        </h2>

        <table>
            <tr>
                <th>
                    <h3>
                        French
                    </h3>
                </th>
                <th>
                    <img src="../../assets/images/icons/iconfinder_speech_bubble.png" title="Bubble" alt="Bubble">
                </th>
                <th>

                </th>
                <th>
                    <h3>
                        German
                    </h3>
                </th>
                <th>
                    <img src="../../assets/images/icons/iconfinder_speech_bubble.png" title="Bubble" alt="Bubble">
                </th>
                <th>

                </th>
                <th>
                    <h3>
                        Spanish
                    </h3>
                </th>
                <th>
                    <img src="../../assets/images/icons/iconfinder_speech_bubble.png" title="Bubble" alt="Bubble">
                </th>
            </tr>

            <tr>
                <th>
                    <span>
                        J'aime les croissants.
                    </span>
                </th>
                <th>
                    420
                </th>
                <th>

                </th>
                <th>
                    <span>
                        Ich bin ein berliner.
                    </span>
                </th>
                <th>
                    420
                </th>
                <th>

                </th>
                <th>
                    <span>
                        Vamos a la playa.
                    </span>
                </th>
                <th>
                    420
                </th>
            </tr>

            <tr>
                <th>
                    <h3>
                        Italian
                    </h3>
                </th>
                <th>
                    <img src="../../assets/images/icons/iconfinder_speech_bubble.png" title="Bubble" alt="Bubble">
                </th>
                <th>

                </th>
                <th>
                    <h3>
                        Chinese
                    </h3>
                </th>
                <th>
                    <img src="../../assets/images/icons/iconfinder_speech_bubble.png" title="Bubble" alt="Bubble">
                </th>
                <th>

                </th>
                <th>
                    <h3>
                        Japanese
                    </h3>
                </th>
                <th>
                    <img src="../../assets/images/icons/iconfinder_speech_bubble.png" title="Bubble" alt="Bubble">
                </th>
            </tr>

            <tr>
                <th>
                    <span>
                        Dolce vita.
                    </span>
                </th>
                <th>
                    420
                </th>
                <th>

                </th>
                <th>
                    <span>
                        我不會說中文.
                    </span>
                </th>
                <th>
                    420
                </th>
                <th>

                </th>
                <th>
                    <span>
                        Omae wa mou shindeiru.
                    </span>
                </th>
                <th>
                    420
                </th>
            </tr>
        </table>
    </section>
</article>
