<link rel="stylesheet" href="draft.component.css">

<header>
    <table>
        <tr>
            <span class="logoSpan">
                <th>
                    <h1>
                        <img src="../../assets/images/icons/logo.png" title="Logo cosmos" alt="Logo cosmos" class="logo">
                    </h1>
                </th>
            </span>
            <span class="headerTabs">
                <th>
                    <span>
                        About Governmint
                    </span>
                </th>
                <th>
                    <span>
                        Notifications
                    </span>
                </th>
                <th>

                    <span>
                        Profile
                    </span>
                </th>
                <th>
                    <span>
                        Drafts
                    </span>
                </th>
            </span>
        </tr>
    </table>
</header>

<article>
    <section>
        <h2>
            Draft proposals
        </h2>
        
        <h3>
            Trending
        </h3>
        
        <h3>
            New
        </h3>
        
        <h3>
            Top
        </h3>

        <table>
            <tr>
                <th>
                    <img src="../../assets/images/icons/iconfinder_arrow-up-01.png" title="Upvote" alt="Upvote" class="up">
                </th>
                <th>
                    <h3>
                        Modify block reward
                    </h3>
                </th>
                <th>
                    Version 1.2
                </th>
                <th>
                    Pro/Con
                </th>
                <th>
                    Tag 1
                </th>
                <th>
                    Tag 2
                </th>
            </tr>
            <tr>
                <th>
                    511
                </th>
                <th>
                    111 comments
                </th>
                <th>
                    Submitted 11 days ago by Pablo
                </th>
            </tr>
        </table>

        <table>
            <tr>
                <th>
                    <img src="../../assets/images/icons/iconfinder_arrow-up-01.png" title="Upvote" alt="Upvote" class="up">
                </th>
                <th>
                    <h3>
                        New block reward ?
                    </h3>
                </th>
                <th>
                    Version 2.0
                </th>
                <th>
                    Open
                </th>
                <th>
                    Tag 1
                </th>
                <th>
                    Tag 2
                </th>
            </tr>
            <tr>
                <th>
                    223
                </th>
                <th>
                    99 comments
                </th>
                <th>
                    Submitted 15 days ago by Aimen
                </th>
            </tr>
        </table>

        <table>
            <tr>
                <th>
                    <img src="../../assets/images/icons/iconfinder_arrow-up-01.png" title="Upvote" alt="Upvote" class="up">
                </th>
                <th>
                    <h3>
                        Other proposal
                    </h3>
                </th>
                <th>
                    Version 1.5
                </th>
                <th>
                    Pro/con
                </th>
                <th>
                    Tag 1
                </th>
                <th>
                    Tag 2
                </th>
            </tr>
            <tr>
                <th>
                    99
                </th>
                <th>
                    2 comments
                </th>
                <th>
                    Submitted 21 days ago by Nicolas
                </th>
            </tr>
        </table>
    </section>
</article>

<aside>
    <div>
        <h3>
            Description
        </h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>
    <div>
        <h3>
            Rules
        </h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>
    <div>
        <h3>
            Moderation
        </h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>
</aside>


<div class="popup">
    <h3>
        ! Drafts should preferably 
    </h3>
</div>